
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background: #0f172a;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0f172a, #020617);
  color: #e2e8f0;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

.select {
  width: 100%;
  padding: 12px;
  margin-bottom: 25px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  background: #1e293b;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15´x;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.25s;
  animation: fadeUp 0.4s ease forwards;
}

.card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.card h3 {
  font-size: 14px;
  color: #94a3b8;
}

.card p {
  font-size:24px;
  font-weight: bold;
  transition: all 0.3s ease;
}


.backlog {
  border-left: 5px solid #f59e0b;
}

.andamento {
  border-left: 5px solid #3b82f6;
}

.concluido {
  border-left: 5px solid #22c55e;
}

.destaque {
  grid-column: span 2;
  padding: 15px;
  background: #2563eb;
}


.box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 12px;
  animation: fadeUp 0.5s ease forwards;
}

.insight {
  background: #1e293b;
}

.gargalo {
  background: #7f1d1d;
  color: #fecaca;
}


.empty {
  text-align: center;
  margin-top: 20px;
  color: #94a3b8;
}
.card:nth-child(1) { animation-delay: 0.1s; }
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.3s; }
.card:nth-child(4) { animation-delay: 0.4s; }
.card:nth-child(5) { animation-delay: 0.5s; }